.work-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 2 auto;
}
.project-heading {
  text-align: center;
  padding: 4rem 0 2rem 0;
}

.project-container {
  --gap: 1rem;
  --num-cols: 3;
  --row-height: 30rem;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 2rem 2rem 2rem;

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.project-card {
  background: rgb(45, 44, 44);
  padding: 1rem 1rem 6rem 1rem;
}

.project-card img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  position: relative;
}

.project-card h2,
p {
  text-align: center;
  color: white;
  padding: 0.5rem 0;
}

.project-details p {
  font-size: 1.1rem;
  text-align: center;
}

.project-btns {
  display: flex;
  justify-content: space-between;
}

.project-btns .btn {
  padding: 0.5rem 2rem;
  position: relative;
}

@media screen and (max-width: 768px) {
  .project-container {
    max-width: 90%;
    margin: auto;

    grid-template-columns: 2fr;
  }
}
